
.page {
  margin: 0;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
    
    flex: 0 0 auto;
  }
  
  .footer {
    
    flex: 0 0 auto;
  }
.content {
  
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
  }